* {
    margin: 0
}

ul {
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0;
    gap: 20px;
    margin-left: auto;
    margin-right: 220px;
}

.header {
    display: flex; 
    justify-content: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.subset-one {
    display: flex; 
    margin-top: 70px;
    justify-content: center;
    
}
.first {
    background-color: #1F2937;
    padding-bottom: 100px;
    padding-top: 20px;
    
}
.secondary-text {
    flex-grow: 0;
    color: #E5E7EB;
    font-size: 18px;
}
.main-part {
    width: 400px;
    text-wrap: wrap; 
}
.logo {
    font-size: 24px; 
    color: #F9FAF8;
    margin-left: 215px;
}
.heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
button {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
}
.cool {
    margin-left: 300px; 
}
.container {
    display: flex;
    flex-direction: column;
}
.information {
    margin-top: 40px;
    margin-bottom: 80px;
}
.top {
    font-size: 36px; 
    text-align: center;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 40px;
}
.illustrations {
    display: flex;
    justify-content: center;
    
}
.green-monster {
    width: 200px;
    margin-right: 40px; 
}
.blue-bubble {
    width: 200px;
    margin-right: 40px; 
}
.blue-ocean {
    width: 200px;
    margin-right: 40px; 
}
.pineapples { 
    width: 200px;
    margin-right: 40px;
}
